

/* back ground color */
body {
    background-color: #e9f0fa;
}


                                      /* TABLES */

/* main table measurements*/
.widget-content-area,
.card-body {
    border-radius: 25px !important;
    border: 2px solid #e9f0fa;
    box-shadow: 0px 0px 15px 2px lightgray;
    padding: 0px;
}



/* main header and footer of table */
/* positions*/
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
    height: 55px;
    margin-bottom: 10px
}

div.dataTables_wrapper div.dataTables_filter label {
    margin: 10px;
}

div.dataTables_wrapper div.dataTables_info {
    margin: 10px;
}


        /* measurements*/
div.dataTables_wrapper div.dataTables_filter input {
    width: 300px;
}

.dataTables_wrapper .form-control,
.card {
    border-radius: 25px;
}

div.dataTables_wrapper div.dataTables_info {
    width: 300px;
    border-radius: 25px;
}
        /* text colors */
.dataTable.table-striped.table > thead > tr > th {
    color: #4361ee;
    font-weight: bolder;
}

.table > thead > tr > th {
    color: #4361ee;
}

/* rows colors and hovering effects */

.dataTable.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ecf3fd !important;
}

.table-striped tbody tr {
    background-color: #fafbfd !important;
}
                    /* hover*/
/*
.dataTable.table-striped tbody tr td:hover {
    background-color: lightgrey !important;
}

.dataTable.table-striped tbody tr:hover {
    background-color: lightcoral !important;
}*/
        /* text colors */
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    color: #7d8aa5;
}

.dataTable.table-striped tbody tr:nth-of-type(odd) td {
    color: #7d8aa5;
    font-weight: bold;
}
/* deleting things that we don't need search and top line of header row*/

.dataTable.table-striped.table > thead > tr > th {
    border-top: none!important; 
}

.card-body { padding: 0px}

/*pagination */
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 25px;
    padding: 10px 9px;
}


/* available assets edit*/
.avaiableAssets-edit {
    margin:0px;

}

.avaiableAssets-edit > tbody > tr,
.avaiableAssets-edit > thead > tr {
        border: 0px
    }

.avaiableAssets-edit > thead > tr > th:nth-child(1) {
    border-radius:25px 0px 0px 0px;
}

.avaiableAssets-edit > thead > tr > th:nth-child(4) {
    border-radius: 0px 25px 0px 0px;
}


                                /* END OF TABLES*/
    /* FILTER AND SEARCH*/

    .page-header {
    margin-bottom: 10px;
}

.form-control {
    border-radius: 25px;
}

.form-group button,
.row div input,
.row div a
{
    border-radius: 25px;
    margin: 0px 5px;
}
.form-group button,
.row div input[type=button],
.row div a {
    margin-left: 15px;
    margin-right: 5px;
}

.page-header .custom-dropdown-icon a.dropdown-toggle {
    border-radius: 25px;
}

.topping-edit,
.topping-edit .card-body {
    background: transparent;
    border: none;
    box-shadow: none;
}


                                /* calendar*/
input[type="date"] {
    background-color: white;
    padding: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: #3b3f5c;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 90%
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
                            /* end of calendar*/
                            /* more button*/
.dropdown.show {
    margin-bottom:60px
}

.dropdown.show .dropdown-menu {
    display: inline-flex;
    border-radius: 10px;
    border: 2px solid #c2d1e7;
}

.page-header .custom-dropdown-icon .dropdown-menu a {
    border-right: 1px solid #c2d1e7;
}

.page-header .custom-dropdown-icon .dropdown-menu a:nth-last-child(1) {
    border-right: 0px;
}
                        /* end of more button */

                        /* tables of choosen location*/

.dataTables_scrollHeadInner {/* fixing the extension of first line*/
    width: 100%!important;
}

.locations-edit-statbox {/* removing outter lines*/
    background: transparent;
    border: none;
    box-shadow: none;
}
.locations-edit-statbox .widget-header { 
    background:transparent!important;
}

.layout-spacing .locations-edit-table { /* removing outter lines*/
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

.tab-pane .layout-spacing { /* removing extra spaces @ bot*/
    padding-bottom: 0px;
}

.locations-edit-statbox .nav-link.active {
    color: green
}

.locations-edit-statbox .nav-link { 
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important; 
}

                         /* end of tables of chosen location*/

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb-two .breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

    .breadcrumb-two .breadcrumb li {
        float: left;
    }

.breadcrumb-two .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.breadcrumb-two .breadcrumb li a {
    color: #4361ee;
    text-decoration: none;
    padding: 6px 0 6px 40px;
    background: #ebedf2;
    position: relative;
    display: block;
    float: left;
}

    .breadcrumb-two .breadcrumb li a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ebedf2;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }

    .breadcrumb-two .breadcrumb li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ebedf2;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }

.breadcrumb-two .breadcrumb li:last-child a:before {
    margin-left: -6px;
}

.breadcrumb-two .breadcrumb li:first-child a {
    padding-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.breadcrumb-two .breadcrumb li.active a {
    background: #4361ee;
    color: #fff;
}

    .breadcrumb-two .breadcrumb li.active a:after {
        border-left-color: #4361ee;
    }

.breadcrumb-two .breadcrumb li:last-child a {
    pointer-events: none;
    cursor: default;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

    .breadcrumb-two .breadcrumb li:last-child a:after {
        border: none;
    }

                        /* end of bread crump */

                        /* navbar*/

.topbar-nav.header nav#topbar ul.menu-categories li.menu > a {
    border: 1px solid #4361ee;
    padding: 15px 14px;
    border-radius: 25px;
    color: #4361ee;
    margin-right:18px;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu > a:hover {
    border: 1px solid #4361ee;
    padding: 15px 14px;
    border-radius: 25px;
    color: white;
    background-color: #4361ee;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu a > div span {
    color: #4361ee;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu a:hover > div span {
  color: white
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu a > div svg:not(.feather-chevron-down) {
    color: #4361ee;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu a:hover > div svg:not(.feather-chevron-down){
    color: white;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu > a svg.feather.feather-chevron-down {
    color: #4361ee;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu > a:hover svg.feather.feather-chevron-down {
    color: white;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu > a > div {
    margin-right: 0px;
}
/* end of navbar */
/* mail box page */
/* fixing all measurements*/
.tab-title .row div a,
.mailbox-inbox .row div a,
.mailbox-inbox .row div input {
    margin: 0px !important;
}

.mailbox-inbox .search input {
    margin: 0px !important;
}
#btn-send-mail {
    background-color: #4361ee;
}
.mail-btn-container a svg {
    color: white
}
 /* popup of mail */
                
.mail-subject svg {
    color: #4361ee;
    margin-right: 5px;
    margin-top:5px
}

.compose-box .selectize-input {
    border-radius: 25px
}
.compose-box .selectize-dropdown,
.compose-box .selectize-dropdown .selectize-dropdown-content {
    border-radius: 25px
}

.compose-box #subject {
    height: auto;
    padding: 8px 10px;
    margin-top: 1px;
}

.mail-form svg {
    color: #4361ee;
    margin-right: 5px;
    margin-top: 5px
}
.mail-form textarea {
    border-radius: 25px;
    border-color: #bfc9d4;
    padding:10px;
    width: 100%
}

.input-group
{
    border-radius: 25px; 
    overflow:hidden
}
.input-group-prepend {
    margin: 0px;
}

.input-group-prepend .input-group-text {
    border: none !important;
    padding-top: 8px;
    font-size: 15px;
    color: purple;
}

.custom-file-label {
    border: none;
    border-radius: unset
}

.custom-file-label::after {
    background-color: #f1f2f3
}

.modal-footer #btn-send {
    background-color: white;
    color: green;
    font-weight:bold
}


                                    /* icons in tables */

.fa-eye {
    color: #527bff;
}

.fa-user {
    color: #847592;
}

.fa-industry {
    color: #28a745;
}

.fa-box {
    color: #e33545;
}

.fa-people-carry {
    color: #ffc607;
}

.fa-edit {
    color: #17a2b8;
}

.fa-plus {
    color:red
}

/* fixing arrow of select */
.form-group select { /* to remove old arrow*/
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative
}

.form-group select { /* new arrow design*/
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}


                                            /* new site */
                        /* colors and measurements for whole page*/
.widget {
    background-color:transparent;
    border: none;
    box-shadow: none;
}

.widget.box .widget-header {
    background-color: transparent;
}

.widget-content-area-edit {
    border: none;
    box-shadow: none;
}

.dataTables_wrapper {
    padding: 0px
}
                            /* search part inside table*/
.dataTables_filter label {
    display:inline-flex;
    align-items: center;
    position: relative;
}
            
.dataTables_filter label svg{
    position: absolute;
    right: 15px;
    width: 20px;
    color: #d3d3d3;
}


                                    /* button and outside table part*/
.widget-header .card  {
    text-align: center;
    margin-bottom: 10px;
    border:none;
    box-shadow: none
}
.widget-header .card-body {
    border: none;
    box-shadow: none
}
.widget-header > .row:nth-child(1) {
    display:flex;
    align-items:center;
}

.special-btn {
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    border-color: #4361ee
}

.special-btn a {
    color: #4361ee;
}

.special-btn:hover {
    background-color: #4361ee;
    color: white
}

.special-btn:hover a {
    color: white !important;
}
                                   /* table pagination */
.dataTables_wrapper > div:nth-last-child(1),
.dataTables_wrapper > div:nth-last-child(2) {
    display: inline-block;
}

.dataTables_wrapper > div:nth-last-child(2) {
    margin-left: 15px;
    width: 250px;
    border: 1px solid #4361ee;
    border-radius: 25px;
    padding: 10px
}

                                       /* tabs */
.nav-pills {
    margin-bottom: 0px !important;
}

.icon-pill .nav-pills li a {
    color: #3b3f5c;
}

.icon-pill .nav-pills .nav-item.show .nav-link, .icon-pill .nav-pills .nav-link.active {
    color: #4361ee;
    background-color: #fff;
    border-color: lightgrey lightgrey #fff;
}

.icon-pill .tab-content > .tab-pane {
    padding: 10px 0px;
}

.nav-pills .nav-item:nth-child(1) {
    margin-left: 10px
}

.nav-pills .nav-link.active {
    border: 1px solid;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
    .nav-pills {
        border-bottom: 1px solid lightgrey;
    }
.nav-pills .nav-link {
    margin-bottom: -1px;
}

                                    /* end of tabs */




.animated {
    animation-duration: 4s
}


                                    /* tables */

.table {
    margin-bottom: 0px!important;
    border: none;
}

.widget-content.widget-content-area.icon-pill {
    border: none;
}

.dataTables_scrollHeadInner .table,
.dataTables_scrollHeadInner .table thead tr{
    width: 100% !important;
}

.resrvation-edit {
    padding:0px
}

.resrvation-edit .statbox {
    padding: 20px 0px
}


/* pagination*/
.paginate_button.page-item.active a {
    border-radius: 25px;
    margin: 0px 7px;
}

                                        /* icons */
.action-column .addHotel {
    color: red
}
                                        /* navbar */
.topbar-nav.header nav#topbar ul.menu-categories li.menu > a > div {
    display: flex;
}



                                            /* booking info page tabs */
.widget-content-area-edit2 {
    border: none;
    box-shadow: none;
}

.widget-content-area-edit2 li{
    display:flex;
    align-items:center
}

.widget-content-area-edit2 .nav-link {
    padding-right: 30px;
    cursor: default;
}

.widget-content-area-edit2 .edit {
    position: relative;
    left: -20px;
    cursor: pointer;
}

.widget-header .inovice-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px 2px 5px
}

.widget-header .inovice-link svg {
    margin-right: 10px!important;
    color: white;
}

.item-of-detailed-table {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border:1px solid lightskyblue;
    border-radius:25px;
    box-shadow: inset 0px 0px 15px whitesmoke;
}

.item-of-detailed-table .part-a p {
    border-right: 1px solid lightskyblue
}





                                                    /*booking tables for tabs */

.widget-content.widget-content-area.icon-pill {
    box-shadow: 0px 0px 15px 2px lightgrey;
    border: 2px solid #e9f0fa;
}

.widget-content-area-edit thead > tr > th {
    font-size: 11px;
    padding: 5px;
}

.tab-content .dataTable.table-striped tbody tr:nth-of-type(odd) td {
    text-align: center;
    font-size: 11px;
    padding: 0.75rem 5px;
}



.tab-content .table > tbody > tr > td {
    text-align: center;
    font-size: 11px;
    padding: 0.75rem 5px;
}

.tab-content .form-group button, .row div input[type=button], .row div a {
    margin: 0px 5px
}

/*color for tables inside booking page*/
.tab-content .table tbody tr td:nth-child(1) a,
.tab-content .table tbody tr td:nth-child(3) a {
    color: #007bff;
    font-weight: bold;
}
/*color for tables inside booking info page*/
/*.tab-content .table-responsive tbody tr td:nth-child(1) ,
.tab-content .table-responsive tbody tr td:nth-child(3) {
    color: #007bff;
    font-weight: bold;
}*/

/* event page  pop up */

.add-event-Eventpage input[type="date"] {
    position: initial;
    transform: none;
}

input[type="date"] {
    position: initial;
    transform: none;
}

/* all popups */

form .modal-content {
    border-radius: 25px;
    box-shadow: 0px 0px 6px 2px lightgrey;
}


/* navbar brand img*/

.navbar .nav-logo a.navbar-brand img {
    width:initial
}


                                                /*Dashboard page edit  */
.dashboard-edit .widget {
    background: white!important;
    border-radius:25px!important;
}


/*
    ====================
        Order Summary
    ====================
*/

.dashboard-edit .widget-three {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    border: 1px solid #f1f2f3;
}

.dashboard-edit .widget-three .widget-heading {
display: flex;
margin-bottom: 25px;
justify-content: space-between;
}

.dashboard-edit .widget-three .widget-heading .task-action .dropdown-toggle svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}

.dashboard-edit .widget-three .widget-heading .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}

.dashboard-edit .widget-three .widget-content {
font-size: 17px;
}

.dashboard-edit .widget-three .widget-content .summary-list {
    position: relative;
    padding: 15px;
    background: rgb(224 230 237 / 40%);
    border-radius: 6px;
}

.dashboard-edit .widget-three .widget-content .summary-list.summary-income {
    background: rgb(220 207 247 / 34%);
}

.dashboard-edit .widget-three .widget-content .summary-list.summary-profit {
    background: rgb(186 231 255 / 34%);
}

.dashboard-edit .widget-three .widget-content .summary-list.summary-expenses {
    background: rgb(255 236 203 / 34%);
}

.dashboard-edit .widget-three .widget-content .summary-list .summery-info {
    display: flex;
    margin-bottom: 0;
}

.dashboard-edit .widget-three .widget-content .summary-list:not(:last-child) {
    margin-bottom: 9px;
}

.dashboard-edit .widget-three .widget-content .w-icon {
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-right: 12px;
}

.dashboard-edit .widget-three .widget-content .w-icon svg {
    display: block;
    width: 22px;
    height: 22px;
    stroke-width: 1px;
}

.dashboard-edit .widget-three .widget-content .summary-list:nth-child(1) .w-icon svg {
    color: #805dca;
    fill: rgb(92 26 195 / 16%);
}

.dashboard-edit .widget-three .widget-content .summary-list:nth-child(2) .w-icon svg {
    color: #2196f3;
    fill: rgb(33 150 243 / 16%);
}

.dashboard-edit .widget-three .widget-content .summary-list:nth-child(3) .w-icon svg {
    color: #e2a03f;
    fill: rgb(226 160 63 / 16%);
}

.dashboard-edit .widget-three .widget-content .w-summary-details {
    width: 100%;
    align-self: center;
}

.dashboard-edit .widget-three .widget-content .w-summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.dashboard-edit .widget-three .widget-content .w-summary-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}

.dashboard-edit .widget-three .widget-content .w-summary-info .summary-count {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 600;
    color: #515365;
}

.dashboard-edit .widget-three .widget-content .w-summary-info .summary-average {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color: #888ea8;
}

.dashboard-edit .widget-three .widget-content .summary-list.summary-income .w-summary-info .summary-average {
    color: #805dca;
}

.dashboard-edit .widget-three .widget-content .summary-list.summary-profit .w-summary-info .summary-average {
    color: #2196f3;
}

.dashboard-edit .widget-three .widget-content .summary-list.summary-expenses .w-summary-info .summary-average {
    color: #e2a03f;
}

.dashboard-edit .widget-three .widget-content .summary-list {
    display: block
}

/* daily sales*/

.dashboard-edit .widget-two {
    position: relative;
    background: #fff;
    padding: 0;
    height: 100%;
    box-shadow: none;
    border: 1px solid #f1f2f3;
    background: white !important;
    border-radius: 25px !important;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}

.dashboard-edit .widget-two .widget-content {
    font-size: 17px;
}

.dashboard-edit .widget-two .w-chart {
    position: absolute;
    bottom: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.dashboard-edit .widget-two .w-numeric-value {
    display: flex;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    justify-content: space-between;
}

.dashboard-edit .widget-two .w-numeric-value .w-icon {
    display: inline-block;
    background: #e7f7ff;
    padding: 13px 12px;
    border-radius: 12px;
    display: inline-flex;
    align-self: center;
    height: 45px;
    width: 45px;
}

.dashboard-edit .widget-two .w-numeric-value svg {
    display: block;
    color: #2196f3;
    width: 20px;
    height: 20px;
}

.dashboard-edit .widget-two .w-numeric-value .w-value {
    margin-bottom: -9px;
    letter-spacing: 0px;
    font-size: 19px;
    display: block;
    color: #0e1726;
    font-weight: 600;
}

.dashboard-edit .widget-two .w-numeric-value .w-numeric-title {
    font-size: 13px;
    color: #888ea8;
    font-weight: 600;
}

/* top sales */

.dashboard-edit .widget-table-three td .td-content a {
    display:block;
}

/* recent activities */

.dashboard-edit .widget-activity-four .widget-heading .w-icon a {
    background-color: #e7f7ff !important;
}
.dashboard-edit .widget-activity-four .widget-heading .w-icon a svg {
    color: #2196f3;
}

.dashboard-edit .widget.widget-activity-four {
    height: 100%
}

/* side bar */

.dashboard-edit .col-right-content{
    overflow:scroll
}


.activity-section-animation {
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 95px;
    margin-bottom: 60px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


#content .col-right {
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 350px;
    position: fixed;
    top: 80px;
    width: 310px;
    right: 0;
    border-radius: 0;
    z-index: 1029 !important;
    transition: .3s ease all;
    width: 348px;
}

#content .col-right-content {
    background: #030305;
    padding: 32px 32px 0px 32px;
    margin: 20px 15px;
    z-index: 4;
    height: 100%;
    border-radius: 25px;
}


/* 
  widget profile
*/


.widget-profile {
    margin-bottom: 20px;
}

.widget-profile .w-profile-view {
    display: flex;
    padding: 15px 22px;
    background: #151516;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.widget-profile .w-profile-view img {
width: 37px;
height: 37px;
border-radius: 50%;
border: 3px solid rgb(255 255 255 / 18%);
margin-right: 12px;
box-shadow: 0px 1px 9px 8px #000000;
}

.widget-profile .w-profile-view .w-profile-content h6 {
font-size: 15px;
color: #fff;
margin-bottom: 0;
}

.widget-profile .w-profile-view .w-profile-content p {
margin-bottom: 0;
font-size: 12px;
font-weight: 500;
color: #bfc9d4;
}

.widget-profile .w-profile-links {
display: flex;
background: #151516;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
padding: 6px 9px 16px 20px;
}

.widget-profile .w-profile-links .w-p-link {
text-align: center;
align-self: center;
margin-right: 12px;
display: flex;
border-radius: 6px;
padding: 4px 9px;
border: 1px solid #515365;
}

.widget-profile .w-profile-links .w-p-link svg {
width: 17px;
height: 17px;
margin-right: 6px;
color: #fff;
stroke-width: 1.5rem;
}

.widget-profile .w-profile-links .w-p-link p {
font-size: 11px;
font-weight: 100;
margin-bottom: 0;
align-self: center;
color: #fff;
}


/* 
  widget todo
*/

.widget-todo {
padding: 12px 21px;
border-radius: 16px;
background: #151516;
margin-bottom: 20px;
}

.widget-todo .todo-content {
display: flex;
}

.widget-todo .todo-content .todo-title {
align-self: center;
margin-right: 12px;
padding-right: 9px;
border-right: 1px solid #515365;
}

.widget-todo .todo-content .todo-title h6 {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: flex;
}

    .widget-todo .todo-content .todo-title h6 span.icon {
        display: inline-flex;
        background: #4361ee;
        padding: 3px 6px;
        border-radius: 6px;
        height: 27px;
        width: 29px;
        margin-right: 9px;
    }

    .widget-todo .todo-content .todo-title h6 svg {
        width: 17px;
        height: 19px;
        vertical-align: bottom;
        align-self: center;
    }

.widget-todo .todo-content .todo-text {
align-self: center;
}

.widget-todo .todo-content .todo-text p {
    margin-bottom: 0;
    font-size: 17px;
    color: #bfc9d4;
    font-weight: 500;
    letter-spacing: 1px;
}



/* 
  widget message
*/

.widget-message {
padding: 22px 22px;
border-radius: 16px;
background: #151516;
margin-bottom: 20px;
background: linear-gradient(229deg, #517281 0%, #3b5d70 27%, #4d5c82 72%, #5d647f 100%);
}

.widget-message .widget-title {
display: flex;
justify-content: space-between;
}

.widget-message .widget-title h5 {
color: #fff;
margin-bottom: 0;
}

.widget-message .widget-title svg {
width: 18px;
height: 19px;
align-self: center;
color: #bfc9d4;
}

.widget-message .widget-messages {
margin-top: 25px;
}

.widget-message .widget-messages .w-message:not(:last-child) {
margin-bottom: 18px;
}

.widget-message .widget-messages .w-message {
display: flex;
}

.widget-message .widget-messages .w-message img {
width: 38px;
height: 38px;
border-radius: 50%;
border: 3px solid rgb(191 201 212 / 21%);
margin-right: 10px;
}

.widget-message .widget-messages .w-message .msg-content {
align-self: center;
}

.widget-message .widget-messages .w-message .w-msg-username {
font-size: 14px;
font-weight: 600;
color: #bfc9d4;
margin-bottom: 0;
}

.widget-message .widget-messages .w-message .w-msg-text {
margin-bottom: 0;
color: #fff;
font-size: 12px;
}



/* 
  widget invoice
*/

.widget-invoice {
padding: 22px 22px;
border-radius: 16px;
background: #151516;
margin-bottom: 20px;
}

.widget-invoice .widget-title {
display: flex;
justify-content: space-between;
}

.widget-invoice .widget-title h5 {
color: #fff;
margin-bottom: 0;
}

.widget-invoice .widget-title svg {
width: 18px;
height: 19px;
align-self: center;
color: #bfc9d4;
}

.widget-invoice .widget-invoice-lists {
margin-top: 25px;
}

.widget-invoice .widget-invoice-lists .w-invoice {
position: relative;
}

.widget-invoice .widget-invoice-lists .w-invoice:not(:last-child) {
margin-bottom: 15px;
}

.widget-invoice .widget-invoice-lists .w-invoice p {
color: #bfc9d4;
margin-bottom: 0;
}

.widget-invoice .widget-invoice-lists .w-invoice p span.inv-number {
font-size: 14px;
font-weight: 500;
color: #4cd265;
}

.widget-invoice .widget-invoice-lists .w-invoice p span.usr-name {
font-weight: 700;
}



/* 
  widget taskBoard
*/

.widget-taskBoard {
padding: 22px 22px;
border-radius: 16px;
background: #151516;
margin-bottom: 20px;
}

.widget-taskBoard .widget-title {
display: flex;
justify-content: space-between;
}

.widget-taskBoard .widget-title h5 {
color: #fff;
margin-bottom: 0;
}

.widget-taskBoard .widget-title svg {
width: 18px;
height: 19px;
align-self: center;
color: #bfc9d4;
}

.widget-taskBoard .widget-taskBoard-lists {
margin-top: 25px;
}

.widget-taskBoard .widget-taskBoard-lists .w-taskBoard {
position: relative;
padding-left: 18px;
}

.widget-taskBoard .widget-taskBoard-lists .w-taskBoard:before {
content: '';
background: #bfc9d4;
height: 8px;
width: 8px;
position: absolute;
border-radius: 50%;
left: 3px;
top: 6px;
}

.widget-taskBoard .widget-taskBoard-lists .w-taskBoard p {
color: #bfc9d4;
font-size: 13px;
font-weight: 500;
margin-bottom: 0;
}

.widget-taskBoard .widget-taskBoard-lists .w-taskBoard:not(:last-child) p {
margin-bottom: 10px;
}

.widget-taskBoard .widget-taskBoard-lists .w-taskBoard p span.taskBoard-number {
font-weight: 600;
font-size: 13px;
color: #61b6cd;
}

.widget-taskBoard .widget-taskBoard-lists .w-taskBoard p span.usr-name {
font-size: 14px;
font-weight: 500;
}



/* 
  widget calendar
*/

.widget-calendar {
border-radius: 16px;
margin-bottom: 20px;
}

.widget-calendar .widget-title {
display: flex;
justify-content: space-between;
}

.widget-calendar .widget-title h5 {
color: #fff;
margin-bottom: 0;
}

.widget-calendar .widget-title svg {
color: #888ea8;
width: 19px;
height: 19px;
}

.widget-calendar .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu {
background: #555555;
border: 1px solid #555555;
transform: translate3d(-141px, 0, 0px);
}

.widget-calendar .dropdown .dropdown-menu a {
color: #fff !important;
}

.widget-calendar .widget-calendar-lists {
margin-top: 24px;
}

.widget-calendar .widget-calendar-lists .w-calendar {
padding: 15px 15px;
border-radius: 12px;
background: #151516;
margin-bottom: 12px;
display: flex;
}

.widget-calendar .widget-calendar-lists .w-calendar .w-icon {
padding: 10px;
border-radius: 12px;
margin-right: 16px;
height: 42px;
width: 42px;
align-self: center;
}

.widget-calendar .widget-calendar-lists .w-calendar .w-icon svg {
width: 22px;
height: 22px;
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c2 .w-icon {
background: linear-gradient(215deg, #c52d47 0%, #a5325c 30%, #8b366d 100%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c2 .w-icon svg {
fill: rgb(3 3 5 / 11%);
color: rgb(255 255 255 / 66%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c1 .w-icon {
background: linear-gradient(to right, #005e7f, #61b6cd);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c1 .w-icon svg {
fill: rgb(3 3 5 / 11%);
color: rgb(255 255 255 / 75%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c3 .w-icon {
background: linear-gradient(225deg, #1623A6 0%, #3343D4 29%, #175EAC 73%, #176682 100%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c3 .w-icon svg {
fill: rgb(3 3 5 / 11%);
color: rgb(255 255 255 / 75%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c4 .w-icon {
background: linear-gradient(to right top, #604C7C 0%, #257983 50%, #20825A 100%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c4 .w-icon svg {
fill: rgb(3 3 5 / 11%);
color: rgb(255 255 255 / 75%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c5 .w-icon {
background: linear-gradient(to bottom, #203025 0%, #151516 100%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c5 .w-icon svg {
fill: rgb(3 3 5 / 11%);
color: rgb(255 255 255 / 75%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c6 .w-icon {
background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);
}

.widget-calendar .widget-calendar-lists .w-calendar.w-calendar-c6 .w-icon svg {
fill: rgb(3 3 5 / 11%);
color: rgb(255 255 255 / 75%);
}

.widget-calendar .widget-calendar-lists .w-calendar p {
margin-bottom: 0;
color: #fff;
font-size: 13px;
align-self: center;
}

.widget-calendar .widget-calendar-lists .w-calendar p span.calendar-number {
color: #61b6cd;
font-size: 13px;
font-weight: 600;
}


body .col-right-content .col-right-content-container {
    position: relative;
    height: calc(100vh - 92px);
}

body #content .col-right-content .ps .ps__rail-y:hover {
    background: transparent;
}

body .col-right-content .col-right-content-container .ps__rail-y.ps--clicking {
    background-color: transparent;
}

.col-right-content-container .ps__rail-y:hover > .ps__thumb-y {
    background-color: #555555;
}

.col-right-content-container .ps__thumb-y {
    background-color: #555555;
}

@media (max-width: 1199px) {


    #content .col-right {
        position: fixed;
        top: 0;
        width: 310px;
        left: -380px;
        border-radius: 0;
        z-index: 1029 !important;
        transition: .3s ease all;
        width: 348px;
    }

        #content .col-right.show {
            left: -10px;
        }

    .col-right-content .col-right-content-container {
        position: relative;
        height: calc(100vh - 92px);
        padding: 0 0 0 0;
        padding-right: 14px;
    }

    #content .col-right-content {
        border-top-left-radius: 0;
        border-top-right-radius: 30px;
        padding: 32px 18px 32px 32px;
    }

        #content .col-right-content .ps .ps__rail-y:hover {
            background: transparent;
        }

    .admin-header .search-ul {
        padding-right: 14px;
    }
}


/* =================================================================================================================
  Below CSS is for adjusting Notification Sidebar on Smaller Resolution Devices (such as iPhone Mini and iPhone SE)
  ================================================================================================================= */

@media (max-width: 399px) {


#content .col-right-content {
    padding: 32px 0 32px 15px;
}

.col-right-content .col-right-content-container {
    padding-right: 15px;
}

#content .col-right {
    width: 315px;
}
}