@using Agency.Enums;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_mail_server_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="@Url.Action("saveMailServer", "MailService")" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>Outgoing Mail</label>
                                <input required name="outgoing_mail" id="outgoing_mail" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Outgoing Password</label>
                                <input required name="outgoing_mail_password" id="outgoing_mail_password" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Outgoing Mail Server</label>
                                <input required name="outgoing_mail_server" id="outgoing_mail_server" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Port</label>
                                <input required name="port" id="port" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Subject</label>
                                <input required name="title" id="title" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Welcome Message</label>
                                <textarea name="welcome_message" id="welcome_message"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Incomming Mail</label>
                                <input required name="incoming_mail" id="incoming_mail" type="text" class="form-control radius-30" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Mail Templates</a></li>
        </ol>
    </nav><!-- we commented old button and add new button with the id of add resrvation in old dropdown menu-->
</div>


<div class="row">
    <div class="form-group col-4">
        <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
    </div>
    <div class="form-group col-2">
        <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
    </div>
    <div class="form-group col-2">
        <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="mailserverTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Outgoing Mail</th>
                        <th>Title</th>
                        <th>Welcome Message</th>
                        <th>Incoming Mail</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/ckeditorO/ckeditor.js"></script>
    <script src="~/Scripts/ckeditorO/adapters/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("#welcome_message").ckeditor();
           var datatable = $('#mailserverTable')
               .DataTable({/* we added this from the other system to have same search and same pagination*/
                   "dom": "<'dt--top-section '<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'B><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f>>>" +
                       "<'table-responsive  'tr>" +
                       "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
                   "buttons": {
                       buttons: [
                           { extend: 'copy', className: 'btn btn-sm' },
                           { extend: 'csv', className: 'btn btn-sm' },
                           { extend: 'excel', className: 'btn btn-sm' },
                           { extend: 'print', className: 'btn btn-sm' }
                       ]
                   },
                   "oLanguage": {
                       "oPaginate": { "sPrevious": 'Perivous', "sNext": 'Next' },
                       "sInfo": "Showing page _PAGE_ of _PAGES_",
                       "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                       "sSearchPlaceholder": "Search...",
                       "sLengthMenu": "Results :  _MENU_",
                   },
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "MailService")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "outgoing_mail", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.outgoing_mail)
                                    html += "<b>Mail: </b>" + oData.outgoing_mail+"<br>";
                                if (oData.outgoing_mail_password)
                                    html += "<b>Password: </b>" + oData.outgoing_mail_password + "<br>";
                                if (oData.outgoing_mail_server)
                                    html += "<b>Server: </b>" + oData.outgoing_mail_server + "<br>";
                                if (oData.port)
                                    html += "<b>Port: </b>" + oData.port + "<br>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "title",
                            "searchable": true
                        },
                        {
                            "data": "welcome_message",
                            "searchable": true
                        },
                        {
                            "data": "incoming_mail",
                            "searchable": true
                        },
                        {
                            "data": "type", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.type == 1)
                                    html += "<span class='badge badge-primary'>Confirmation</span>";
                                else if (oData.type == 2)
                                    html += "<span class='badge badge-primary'>Invoice</span>";
                                else if (oData.type == 3)
                                    html += "<span class='badge badge-primary'>Itinerary</span>";
                                else if (oData.type == 4)
                                    html += "<span class='badge badge-primary'>Balance</span>";
                                else if (oData.type == 5)
                                    html += "<span class='badge badge-primary'>Credit</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' href='javascript:void(0)' title='Edit'><i class='far fa-edit'></i></a>&nbsp;";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                 });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                $('#id').val(data.id);
                $('#outgoing_mail').val(data.outgoing_mail);
                $('#outgoing_mail_password').val(data.outgoing_mail_password);
                $('#outgoing_mail_server').val(data.outgoing_mail_server);
                $('#title').val(data.title);
                $('#incoming_mail').val(data.incoming_mail);
                $('#welcome_message').val(data.welcome_message);
                $('#port').val(data.port);

                $("#manage_mail_server_modal").modal('show');

                @*console.log(data);
                var modal = $('#manage_mail_server_modal').clone();
                var action = '@Url.Action("saveMailServer", "MailService")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Mail Server');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                        dialog.find('#id').val(data.id);
                        dialog.find('#outgoing_mail').val(data.outgoing_mail);
                        dialog.find('#outgoing_mail_password').val(data.outgoing_mail_password);
                        dialog.find('#outgoing_mail_server').val(data.outgoing_mail_server);
                        dialog.find('#title').val(data.title);
                        dialog.find('#incoming_mail').val(data.incoming_mail);

                
                });*@

            });

        });

    </script>
}

