
@{
    ViewBag.Title = "View";
}

<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Reservations</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">View Reservation</a></li>

        </ol>
    </nav> <!-- we commented old button and add new button with the id of add resrvation in old dropdown menu-->
    @*<button class="special-btn" id="add_reservation"><a href="javascript:void(0);">Add</a></button>*@

</div>
