@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Agency Events Show 2</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link href="~/Content/AdminPanelAssets/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/AdminPanelAssets/assets/js/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/Content/AdminPanelAssets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminPanelAssets/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/Content/AdminPanelAssets/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/AdminPanelAssets/plugins/jquery-step/jquery.steps.css">
    <style>
        #formValidate .wizard > .content {
            min-height: 25em;
        }

        #example-vertical.wizard > .content {
            min-height: 24.5em;
        }
    </style>
    <!--  END CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminPanelAssets/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/Content/AdminPanelAssets/assets/css/customizedByAbdullah2.css" rel="stylesheet" type="text/css" />
</head>
<body class="alt-menu sidebar-noneoverflow separted-page">
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
    <!--  BEGIN NAVBAR  -->
    <div class="header-container">
        <header class="header navbar navbar-expand-sm">
            <div class="nav-logo align-self-center">
                <a class="navbar-brand" href="index.html"><img src="~/Content/AdminPanelAssets/assets/img/CHECKINNOWLOGO.jpeg" style="width: auto;height:40px" /></a>
            </div>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container " id="container">
        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="Event-Header row">
                    <div class="eventLogo offset-2 col-2">
                        <a href="#" target="_blank"><img src="~/Content/AdminPanelAssets/assets/img/90x90.jpg"></a>
                    </div>
                    <div class="eventHeading col-8">
                        <h2>Aviation Week MRO Americas 2022</h2>
                        <p>
                            April 26 - 28, 2022Kay Bailey Hutchison Convention CenterDallas, TX
                        </p>
                    </div>
                </div>
                <div class="row Booking-sec-main">
                    <div class="Booking-sec-small offset-1 col-11 row">
                        <div class="col-3 text-center">
                            <h5>
                                No Of Rooms
                            </h5>
                        </div>
                        <div class="offset-5 col-3">
                            <p><strong style="font-size:16px">1</strong>  </p>
                        </div>
                    </div>
                </div>
                <div class="Wizard-form-container">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-content widget-content-area">
                            <div id="circle-basic" class="">
                                <h3>Keyboard</h3>
                                <section>
                                        <div id="basic" class="col-lg-12 layout-spacing">
                                            <div class="statbox widget box box-shadow">
                                                <div class="widget-content widget-content-area">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <form>
                                                                <div class="form-row mb-4">
                                                                    <div class="col-3">
                                                                        <input type="text" class="form-control" placeholder="First Name">
                                                                    </div>
                                                                    <div class="col-3 offset-1">
                                                                        <input type="text" class="form-control" placeholder="Last Name">
                                                                    </div>
                                                                    <div class="col-3 offset-1">
                                                                        <select class="form-control">
                                                                            <option value="" disabled selected hidden> Room Type</option>
                                                                            <option value="1">Single</option>
                                                                            <option value="2">Double</option>
                                                                            <option value="3">Tribble</option>
                                                                            <option value="4">Quadro</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="form-row mb-4">
                                                                    <div class="col-3">
                                                                        <label for="in-date">Checkin Date</label>
                                                                        <input type="date" id="in-date" class="form-control">
                                                                    </div>
                                                                    <div class="col-3  offset-1">
                                                                        <label for="out-date">Checkout Date</label>
                                                                        <input type="date" id="out-date" class="form-control">
                                                                    </div>

                                                                </div>
                                                                <div class="buttons-form-position">
                                                                    <button class="btn btn-success">Add</button>
                                                                    <button class="btn btn-danger">Del</button>
                                                                </div>
                                                                
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                </section>
                                <h3>Effects</h3>
                                <section>
                                    <div id="basic" class="col-lg-12 layout-spacing">
                                        <div class="statbox widget box box-shadow">
                                            <div class="widget-content widget-content-area">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <span class="edit-form-new-dataSP">Hotel Name</span>
                                                                    <p class="edit-form-new-data">
                                                                        hilton
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Price per Night</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span>100</span>
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Number of nights</span>
                                                                    <p class="edit-form-new-data">
                                                                        <span>100</span> nights
                                                                    </p>
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <span class="edit-form-new-dataSP">Check In Date</span>
                                                                    <p class="edit-form-new-data">
                                                                        12/12/2021
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Check Out Date</span>
                                                                    <p class="edit-form-new-data">
                                                                        12/17/2021
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Taxes</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span>50</span>
                                                                    </p>
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <span class="edit-form-new-dataSP">Total after tax</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span>700</span>
                                                                    </p>
                                                                </div>
                                                                <div class="col-3  offset-1">
                                                                    <span class="edit-form-new-dataSP">deposit</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span>350</span>
                                                                    </p>
                                                                </div>

                                                            </div>
                                                            <div class="buttons-form-position">
                                                                <button class="btn btn-success">Add More Rooms</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h3>Pager</h3>
                                <section>
                                    <div id="basic" class="col-lg-12 layout-spacing">
                                        <div class="statbox widget box box-shadow">
                                            <div class="widget-content widget-content-area">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form>
                                                            <h4 class="mx-auto text-center  mb-4"> Info Needed</h4>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <input type="text" class="form-control" placeholder="Company Name">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Contact Name">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="number" class="form-control" placeholder="Phone Number">
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <input type="email" class="form-control" placeholder="Your Email">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="number" class="form-control" placeholder="fax">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Address">
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <input type="text" class="form-control" placeholder="State">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="number" class="form-control" placeholder="Postal/Zip Code">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Country">
                                                                </div>

                                                            </div>
                                                            <h4 class="mx-auto text-center mb-4"> Payment Details</h4>
                                                            <div class="form-row mb-4 ">
                                                                    <div class="col-3">
                                                                        <h5>Payment Method </h5>
                                                                    </div>
                                                                    <div class="col-9 radio-options-edit">
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-radio new-radio-text radio-classic-primary">
                                                                                <input type="radio" class="new-control-input" name="custom-radio-5">
                                                                                <span class="new-control-indicator"></span><span class="new-radio-content">Visa</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-radio new-radio-text radio-classic-info">
                                                                                <input type="radio" class="new-control-input" name="custom-radio-5">
                                                                                <span class="new-control-indicator"></span><span class="new-radio-content">Amex</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-radio new-radio-text radio-classic-danger">
                                                                                <input type="radio" class="new-control-input" name="custom-radio-5">
                                                                                <span class="new-control-indicator"></span><span class="new-radio-content">Master Card</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-radio new-radio-text radio-classic-warning">
                                                                                <input type="radio" class="new-control-input" name="custom-radio-5">
                                                                                <span class="new-control-indicator"></span><span class="new-radio-content">Discover</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-4">
                                                                    <input type="number" class="form-control" placeholder="Credit Card Number">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="number" class="form-control" placeholder="Security Code">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="number" class="form-control" placeholder="Card Expiration Date">
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="custom-control custom-checkbox mb-2">
                                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                    <label class="custom-control-label" for="customCheck1">
                                                                        By clicking the submit button, I agree to terms & conditions.
                                                                    </label>
                                                                </div>
                                                                <div class="termsx">
                                                                    You acknowledge that the Check In Now Companies pre-negotiate certain room rates with hotel suppliers to facilitate the booking of reservations.<br />
                                                                    You also acknowledge that the Check In Now Companies provide you services to facilitate such booking of reservations for a consideration (the “facilitation fee”).<br />
                                                                    The room rate provided is a combination of the pre-negotiated room rate for rooms reserved on your behalf by the Check In Now Companies and the facilitation fee retained by the Check In Now Companies for their services. You authorize the Check In Now Companies to book reservations for the total reservation price, which includes the room rate provided, plus tax recovery charges, service fees, and where applicable, taxes on the Check In Now Companies’ services.<br />
                                                                    Check In Now is a is a privately-owned company, not affiliated with any event or other organization.<br />
                                                                    You agree to arrange payment no later than 24 hours after submitting this booking form. Upon submitting your reservation request you authorize the Check In Now Companies to facilitate hotel reservations on your behalf, including making payment arrangements with hotel suppliers.<br />
                                                                    You acknowledge that except as provided below with respect to tax obligations on the amounts we retain for our services, the Check In Now Companies do not collect taxes for remittance to applicable taxing authorities.<br />
                                                                    The tax recovery charges on prepaid hotel transactions are a recovery of the estimated taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc.) that the Check In Now Companies pay to the hotel supplier for taxes due on the hotel’s rental rate for the room.<br />
                                                                    The hotel suppliers invoice the Check In Now Companies for certain charges, including tax amounts.<br />
                                                                    The hotel suppliers are responsible for remitting applicable taxes to the applicable taxing jurisdictions.<br />
                                                                    None of the Check In Now Companies act as co-vendors with the supplier with whom we book or reserve our customer’s travel arrangements.<br />
                                                                    Taxability and the appropriate tax rate vary greatly by location. The actual tax amounts paid by the Check In Now Companies to the hotel suppliers may vary from the tax recovery charge amounts, depending upon the rates, taxability, etc. in effect at the time of the actual use of the hotel by our customers.<br />
                                                                    <br /> We retain service fees as additional compensation in servicing your travel reservation.<br />
                                                                    Service fees retained by the Check In Now Companies for their services vary based on the amount and type of hotel reservation.<br />
                                                                    <br />
                                                                    Cancellation and Modification Policy:<br />
                                                                    You may change your prepaid hotel reservation, but you will be charged the cancellation or change fee if changes requested less than 14 days prior to check-in.<br />
                                                                    If you do not change your reservation before the cancellation policy period applicable to the hotel you reserved, which varies by hotel (usually 15 to 30 days) prior to your date of arrival, you will be subject to a charge equal to applicable nightly rates, tax recovery charges and service fees. <br />
                                                                    In the event you do not show for the first night of the reservation and plan to check-in for subsequent nights in your reservation, you must confirm the reservation changes with us no later than 30 days prior to the first night of the reservation to prevent cancellation of your reservation.<br />
                                                                    If the entire reservation is cancelled, you will be charged a cancellation fee equal to 30 % of your total Contract price. <br />
                                                                    You agree to pay any cancellation or change fees that you incur.
                                                                    <br />In limited cases, some hotels do not permit changes to or cancellations of reservations after they are made.<br />
                                                                    <br />
                                                                    SERVICE HELP<br />
                                                                    <br />
                                                                    For quick answers to your questions or ways to contact us, visit our Customer Support Center. Or, you can write to us at:<br />
                                                                    <br />
                                                                    • Attn: Customer Service<br />
                                                                    <br />
                                                                    • Check In Now Inc.<br />
                                                                    <br />
                                                                    (813) 793-7396<br />
                                                                    (888) 808-0988<br />
                                                                    <br />
                                                                    • 100 S. Ashely Drive,Suite 600<br />
                                                                    <br />
                                                                    • Tampa FL 33602<br />
                                                                </div>
                                                            </div>
                                                            <div class="row form-group" style="align-items:center;">
                                                                <div class="col-3">
                                                                   <img src="~/Content/AdminPanelAssets/assets/img/security_certificate_seal_comodo.png"/>
                                                                </div>
                                                                <div class="col-4 offset-1">
                                                                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                                                    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                                                                </div>


                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--  END CONTENT PART  -->

        </div>

    </div>
    <!-- END MAIN CONTAINER -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Content/AdminPanelAssets/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Content/AdminPanelAssets/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/AdminPanelAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/AdminPanelAssets/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });</script>
    <script src="~/Content/AdminPanelAssets/assets/js/custom.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/highlight/highlight.pack.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/Content/AdminPanelAssets/plugins/apex/apexcharts.min.js"></script>
    <script src="~/Content/AdminPanelAssets/assets/js/dashboard/dash_1.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/table/datatable/datatables.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/AdminPanelAssets/assets/js/scrollspyNav.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/jquery-step/jquery.steps.min.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/jquery-step/custom-jquery.steps.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

</body>
</html>